body {
  background-color: #f7f7f7;
}

.custom-bg {
  background-image: url('./desktop.svg'); /* Update with the correct path */
  background-size: cover; /* Ensure the man is fully visible */
  background-position: left;
  background-repeat: no-repeat;
}

.happy {
  font-weight: 600;
}

.new-year {
  font-family: calistoga;
  font-weight: 700;
}

.name {
  font-weight: 700;
}

